@use "../presets" as *;
@use "../mixins" as *;

.boost {

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    padding-top: 153px;
    padding-bottom: 75px;
  }

  &__wrap {
    display: flex;
    gap: 40px;
    padding-bottom: 216px;
  }

  &__item {
  }

  &__image {
    padding-bottom: 46px;
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 34px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 26px;
  }

  &__link {
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
  }
}


