@use "../presets" as *;
@use "../mixins" as *;

.capabilities {
  background-color: $bgcolor-latte;

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 79px;

    @include md {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 110px;
    row-gap: 75px;
    padding-bottom: 146px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
  }

  &__name {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    padding-top: 22px;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
  }

  &__link {
    text-decoration: underline;
  }
}
