@use "../presets" as *;
@use "../mixins" as *;

.job {

  &__article {
    padding-top: 88px;
    padding-bottom: 158px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg {
      flex-wrap: wrap;
      flex-direction: column;
    }

    &_reversed {
      @include lg {
      flex-direction: column-reverse;
      }
      @include xl-lg {
        gap: 20px;
        }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 19px;
  }

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;

    @include md {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;

    @include md {
      font-size: 18px;
    }
  }

  &__link-inner {
    text-decoration: underline;
  }

  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
  }

  &__gif {
    min-width: 632px;

    @include xl {
      min-width: 70%;
      padding-top: 40px;
    }
    @include md {
      min-width: 0;
      max-width: 90%;
    }
  }
}
