@use "../presets" as *;
@use "../mixins" as *;

.job {

  &__article {
    padding-top: 88px;
    padding-bottom: 158px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-right: 19px;
  }

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
  }

  &__description {
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
  }

  &__link-inner {
    text-decoration: underline;
  }

  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-top: 30px;
  }

  &__image {
  }

  &__gif {
    min-width: 632px;
  }
}
