@use "../presets" as *;
@use "../mixins" as *;

.rating {
  background-color: $bgcolor-bronze;
  padding: 84px 0;

  &__block {
    display: flex;
    align-items: center;

    @include md {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    max-width: 560px;
    margin-left: 63px;

    @include md {
      margin-left: 0;
      text-align: center;
      padding-top: 10px;
    }
  }

  &__wrap {
    display: flex;
    border-left: 1px solid $color-primary;
    padding: 25px 62px 25px 70px;
    gap: 70px;

    @include xl {
      border-left: none;
      border-top: 1px solid $color-primary;
      margin-top: 25px;
    }
    @include sm {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  &__text {
    letter-spacing: 0.75px;
  }

}

  .container--rating {
    display: flex;
    justify-content: space-between;

    @include xl {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  }