@use "../presets" as *;
@use "../mixins" as *;

.rating {
  background-color: $bgcolor-bronze;
  padding: 84px 0;

  &__block {
    display: flex;
    align-items: center;
  }

  &__image {
  }

  &__title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    max-width: 560px;
    padding-left: 63px;
  }

  &__wrap {
    display: flex;
    border-left: 1px solid $color-primary;

    padding: 25px 62px 25px 70px;
    gap: 70px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  &__text {
    letter-spacing: 0.75px;
  }

}

  .container--rating {
    display: flex;
    justify-content: space-between;
  }