@use "../presets" as *;
@use "../mixins" as *;

.trial {
background-color: $bgcolor-peach;
padding: 120px 0;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 65px;
    max-width: 913px;
    padding-bottom: 32px;

    @include lg {
      font-size: 50px;
    }
    @include md {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__text {
    font-size: 20px;
    padding-bottom: 57px;
  }

  &__actions {
    padding-bottom: 40px;
  }
}