@use "../presets" as *;
@use "../mixins" as *;

.header {

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-gray;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__menu {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;

  }

  &__logo {
    @include sm {
      width: 100%;
      text-align: center;
    }
  }

  &__actions {
    @include sm-min {
      margin-left: auto;
    }

    @include xl {
      margin-right: auto;
    }
  }
}