@use "../presets" as *;
@use "../mixins" as *;

.footer-menu {
  padding: 92px 0 95px;
  display: flex;

  @include lg {
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;

    @include md {
      justify-content: space-around;
    }

  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding: 4px 0 20px;
  }

  &__list {
    @include unlist
  }

  &__item {
    width: 188px;
    padding-bottom: 15px;
  }
}


.studies {
  max-width: 300px;
  margin-right: 139px;

  @include lg {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 28px;

    @include lg {
      font-size: 35px;
      line-height: 40px;
    }
  }

  &__picture {
    padding-bottom: 31px;
  }

  &__image {
    @include lg {
      max-width: 100%;
    }
  }

  &__logo {
    padding-bottom: 11px;
  }

  &__description {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 15px;
  }

  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
}
