$color-primary: #000000;
$color-accent: #ff6336;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-border: #808080;
$bgcolor-blue: #c9e8f2;
$bgcolor-peach: #ff9c7d;
$bgcolor-latte: #fff8e4;
$bgcolor-bronze: #dabc98;
$bgcolor-footer: #eeeeee;