$font-primary: "Graphik LCG", sans-serif;
$font-size: 16px;

$ul: 1290px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;

$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;