@use "../presets" as *;
@use "../mixins" as *;

.container {
  width: min(100% - 40px, 1290px);
  margin-inline: auto;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.btn--light {
  color: $color-primary;
  background-color: $color-white;
  border: 1px solid $color-border;
}
.btn--accent {
  color: $color-white;
  background-color: $color-accent;
  border: none;
}
.btn--black  {
  color: $color-white;
  background-color: $color-primary;
  border: none;
}
.btn--sm {
  @include lg-min {
    min-width: 120px;
    min-height: 45px;
  }
  @include lg {
    min-width: 106px;
    min-height: 40px;
  }
}
.btn--lg {
  @include md-min {
  min-width: 160px;
  min-height: 60px;
  }
  @include md {
  min-width: 130px;
  min-height: 50px;
  }
}
.btn--margin {
  margin-right: 6px;
}
.visually-hidden {
  @include visually-hidden
}